<footer class="footer" role="contentinfo">
  <p class="footer-copy">
    2023 <i class="uil uil-copyright"></i> c1ph3rm4st3r
  </p>
  <nav class="footer-social">
    <a href="mailto:c1ph3rm4st3r@gmail.com" target="_blank" title="E-mail">
      <i class="uil uil-envelope"></i>
    </a>
    <a class="twitter" href="https://twitter.com/c1ph3rm4st3r" title="Twitter">
      <span>Tw</span>
      <i class="uil uil-twitter"></i>
    </a>
    <a class="instagram" href="https://instagram.com/c1ph3rm4st3r" title="Instagram">
      <span>Ig</span>
      <i class="uil uil-instagram"></i>
    </a>
    <a href="https://github.com/c1ph3rm4st3r" title="GitHub">
      <span>Gh</span>
      <i class="uil uil-github"></i>
    </a>
    <a class="dribbble" href="https://dribbble.com/c1ph3rm4st3r" title="Dribbble">
      <span>Dr</span>
      <i class="uil uil-dribbble"></i>
    </a>
    <a class="linkedin" href="https://linkedin.com/in/c1ph3rm4st3r" title="LinkedIn">
      <span>In</span>
      <i class="uil uil-linkedin"></i>
    </a>
    <a
      class="spotify"
      href="https://open.spotify.com/user/31iza7myu5wgi33fff4v7ln3yf3a"
      title="Spotify"
    >
      <span>Sp</span>
      <i class="uil uil-spotify"></i>
    </a>
  </nav>
</footer>
