<footer class="footer" role="contentinfo">
  <p class="footer-copy">
    2023 <i class="uil uil-copyright"></i> k4u5h41
  </p>
  <nav class="footer-social">
    <a href="mailto:dilankakaushalhewage@gmail.com" target="_blank" title="E-mail">
      <i class="uil uil-envelope"></i>
    </a>
    <a class="twitter" href="https://twitter.com/k4u5h41" title="Twitter">
      <span>Tw</span>
      <i class="uil uil-twitter"></i>
    </a>
    <a class="instagram" href="https://instagram.com/k4u5h41" title="Instagram">
      <span>Ig</span>
      <i class="uil uil-instagram"></i>
    </a>
    <a href="https://github.com/k4u5h41" title="GitHub">
      <span>Gh</span>
      <i class="uil uil-github"></i>
    </a>
    <a class="dribbble" href="https://dribbble.com/k4u5h41" title="Dribbble">
      <span>Dr</span>
      <i class="uil uil-dribbble"></i>
    </a>
    <a class="linkedin" href="https://linkedin.com/in/k4u5h41" title="LinkedIn">
      <span>In</span>
      <i class="uil uil-linkedin"></i>
    </a>
    <a
      class="spotify"
      href="https://open.spotify.com/user/"
      title="Spotify"
    >
      <span>Sp</span>
      <i class="uil uil-spotify"></i>
    </a>
  </nav>
</footer>
